@define-color background #293438;
@define-color foreground #acb0d0;
@define-color bg #010101;
@define-color fg #a9b1d6;
@define-color blk #32344a;
@define-color red #FE045B;
@define-color grn #9ece6a;
@define-color ylw #EEFF00;
@define-color blu #7aa2f7;
@define-color mag #ad8ee6;
@define-color cyn #0db9d7;
@define-color brblk #444b6a;
@define-color white #ffffff;
@define-color bar #1a1220;
@define-color bar-accent #133582;

* {
  background-color: @background;
  color: @foreground;

  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 15px;
  font-weight: bold;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 3px 3px 3px 3px;
}

.modules-left {
  margin: 5px 0px 0px 10px;
}

.modules-center {
  margin: 5px 0px 0px 0px;
}

.modules-right {
  margin: 5px 10px 0px 0px;
}

#workspaces button {
  padding: 0 6px;
  background: transparent;
  border-bottom: 3px solid @bg;
}

#workspaces button.active {
  border-bottom: 3px solid @ylw;
}

#workspaces button.empty {
  color: @white;
}

#workspaces button.empty.active {
  border-bottom: 3px solid @red;
}

#workspaces button.urgent {
  background-color: @red;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @ylw;
}

#clock,
#pulseaudio,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
  padding: 0 5px;
}

#custom-sep {
  color: @ylw;
}

#clock {
  border-bottom: 3px solid @ylw;
}

#battery {
  /*border-bottom: 4px solid @mag;*/
}

#disk {
  /*border-bottom: 4px solid @ylw;*/
}

#memory {
  /*border-bottom: 4px solid @mag;*/
}

#cpu {
  /*border-bottom: 4px solid @grn;*/
}

#network {
  padding: 0px 9px 0px 0px;
  /*border-bottom: 4px solid @blu;*/
}

#network.disconnected {
  background-color: @red;
}

#tray {
  /*background-color: #2980b9;*/
}
