/* Coolors Exported Palette - https://coolors.co/02041a-8299d0-47579f-e265a3-13184d-613986-fddfc8-a3c5e5 */

/* CSS HEX */
--rich-black: #02041Aff;
--vista-blue: #8299D0ff;
--yinmn-blue: #47579Fff;
--thulian-pink: #E265A3ff;
--penn-blue: #13184Dff;
--eminence: #613986ff;
--champagne-pink: #FDDFC8ff;
--powder-blue: #A3C5E5ff;

/* CSS HSL */
--rich-black: hsla(235, 86%, 5%, 1);
--vista-blue: hsla(222, 45%, 66%, 1);
--yinmn-blue: hsla(229, 38%, 45%, 1);
--thulian-pink: hsla(330, 68%, 64%, 1);
--penn-blue: hsla(235, 60%, 19%, 1);
--eminence: hsla(271, 40%, 37%, 1);
--champagne-pink: hsla(26, 93%, 89%, 1);
--powder-blue: hsla(209, 56%, 77%, 1);

/* SCSS HEX */
$rich-black: #02041Aff;
$vista-blue: #8299D0ff;
$yinmn-blue: #47579Fff;
$thulian-pink: #E265A3ff;
$penn-blue: #13184Dff;
$eminence: #613986ff;
$champagne-pink: #FDDFC8ff;
$powder-blue: #A3C5E5ff;

/* SCSS HSL */
$rich-black: hsla(235, 86%, 5%, 1);
$vista-blue: hsla(222, 45%, 66%, 1);
$yinmn-blue: hsla(229, 38%, 45%, 1);
$thulian-pink: hsla(330, 68%, 64%, 1);
$penn-blue: hsla(235, 60%, 19%, 1);
$eminence: hsla(271, 40%, 37%, 1);
$champagne-pink: hsla(26, 93%, 89%, 1);
$powder-blue: hsla(209, 56%, 77%, 1);

/* SCSS RGB */
$rich-black: rgba(2, 4, 26, 1);
$vista-blue: rgba(130, 153, 208, 1);
$yinmn-blue: rgba(71, 87, 159, 1);
$thulian-pink: rgba(226, 101, 163, 1);
$penn-blue: rgba(19, 24, 77, 1);
$eminence: rgba(97, 57, 134, 1);
$champagne-pink: rgba(253, 223, 200, 1);
$powder-blue: rgba(163, 197, 229, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #02041Aff, #8299D0ff, #47579Fff, #E265A3ff, #13184Dff, #613986ff, #FDDFC8ff, #A3C5E5ff);
$gradient-right: linear-gradient(90deg, #02041Aff, #8299D0ff, #47579Fff, #E265A3ff, #13184Dff, #613986ff, #FDDFC8ff, #A3C5E5ff);
$gradient-bottom: linear-gradient(180deg, #02041Aff, #8299D0ff, #47579Fff, #E265A3ff, #13184Dff, #613986ff, #FDDFC8ff, #A3C5E5ff);
$gradient-left: linear-gradient(270deg, #02041Aff, #8299D0ff, #47579Fff, #E265A3ff, #13184Dff, #613986ff, #FDDFC8ff, #A3C5E5ff);
$gradient-top-right: linear-gradient(45deg, #02041Aff, #8299D0ff, #47579Fff, #E265A3ff, #13184Dff, #613986ff, #FDDFC8ff, #A3C5E5ff);
$gradient-bottom-right: linear-gradient(135deg, #02041Aff, #8299D0ff, #47579Fff, #E265A3ff, #13184Dff, #613986ff, #FDDFC8ff, #A3C5E5ff);
$gradient-top-left: linear-gradient(225deg, #02041Aff, #8299D0ff, #47579Fff, #E265A3ff, #13184Dff, #613986ff, #FDDFC8ff, #A3C5E5ff);
$gradient-bottom-left: linear-gradient(315deg, #02041Aff, #8299D0ff, #47579Fff, #E265A3ff, #13184Dff, #613986ff, #FDDFC8ff, #A3C5E5ff);
$gradient-radial: radial-gradient(#02041Aff, #8299D0ff, #47579Fff, #E265A3ff, #13184Dff, #613986ff, #FDDFC8ff, #A3C5E5ff);